body{
    width: 1189px;
    display: grid; 
    gap: 15px;
}
.rubrik{
    width: 1189px;
    height: 50px;
    background: #F3B1B1;
}
.namn{  
    color: #000;
    font-size: 35px;
    font-weight: 400;    
    text-align: center;
    line-height: 5px;
}
.morotskaka{
    background-color: #F3B1B1;
    width: 1189px;
    height: 591px;
    
}
.mb{
    margin-left: 150px;
    width: 859px;
    height: 591px;
}
.recept{
    gap: 15px;
    width: 602px;
    height: 759px;
    background: #F3B1B1;
    
}
.ingredienser{
    font-size:  33.5px;
    margin-left: 10px;
}

