body{
    width: 1189px;
}
header{
    height: 50px;
    background: #F3B1B1;
    margin-bottom: 10px;
    line-height: 50px; 
}
h1{  
    font-size: 40px;
    font-weight: 400;    
    text-align: center;
}
nav{
    background-color: #F3B1B1;
    height: 591px;
    margin-bottom: 15px;
}
.mb{
    margin-left: 150px;
    width: 859px;
    height: 591px;
}
main{
    display: flex;
    justify-content: space-between;
}
.bild{
    display: flex;
    flex-direction: column;
}
article{
    font-size:  35px;
    background: #F3B1B1;
    column-width: 565px;
}
.instruktion{
    background-color: #F3B1B1;
    margin-top: -26px;
}
.texten{
    margin-left: 5px;
    font-size: 35px;
}
footer{
    width: 1190px;
    background-color: #F3B1B1;
    margin-top: -58px;
}
p{
    font-size: 70px;
    font-weight: 400;    
    text-align: center;
}
.ägg, .morot{
    width: 600px;
    height: 427px;
}
h3, h2, ul{
    margin-left: 5px;
}