.rubrik{
    width: 1189px;
    height: 104px;

}
h1{
    color: #000;
    font-family: Inknut Antiqua;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #F3B1B1;
    text-align: center;
}
.morotskaka{
    margin-top: -50px;
    background-color: #F3B1B1;
    width: 1189px;
    height: 591px;
    
}
.mb{
    margin-left: 150px;
    width: 859px;
    height: 591px;

}
   